a.keyword {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-size: 4em;
    color: black;
}

a.keyword:hover {
    color: #7b0000;
}

.fadeIn { 
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.fadeOut { 
    animation: fadeOutAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 

@keyframes fadeOutAnimation { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
    } 
} 

.nowPlayingContainer {
    display: block;
    position: relative;
    top: 100px;
}

.vidPlayer {
    width: 560px;
    margin: 0 auto;
    font-size: 1em;
}

.playListSearch {
    width: 560px;
    margin: 0 auto;
}