a.keyword {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-size: 4em;
    color: black;
}

a.keyword:hover {
    color: #7b0000;
}

.fadeIn { 
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.fadeOut { 
    animation: fadeOutAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 

@keyframes fadeOutAnimation { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
    } 
} 

.nowPlayingContainer {
    display: block;
    position: relative;
    top: 30px;
}

.vidPlayer {
    width: 414px;
    margin: 0 auto;
    font-size: 1em;
}

.playListSearch {
    max-width: 414px;
    margin: 0 auto;
}

.playlistName {
    text-align: center;
    font-size:5em;
}

.channelThumbnail {
    max-width: 100px;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.flex-child-thumb {
    flex:.25;
    margin: 1px;
}

.flex-child-description {
    flex:1;
    height: 100px;
    background-color: black;
    color: white;
}
