
.topDisplay {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  color: black;
  letter-spacing: 0.10em;
  text-transform: lowercase;
  line-height: .25rem;
  width: fit-content;
  height: fit-content;
  margin:auto;
}

.logo {
  width: 6em;
}

div.featuredText{
  text-align:center;
  margin-left: 0px;
  margin-right: 0px;
  
}

span.tagLineFirst {
  font-size: 2rem;
  color: black;
}

span.tagLineSecond {
  font-size: 5rem;
  color: red;
}

section.artists {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section.artists > div.card{
  width: 25%;
  height: 500px;
}

section.artists > img.results {
  height: 10px; 
}


